
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Web Application</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <header>
        <div class="container">
            <ul class="nav">
                <li class="navigation"><a href="/" style="text-decoration: none;">Home</a></li>
                <li class="navigation"><a href="/posts" style="text-decoration: none;">Posts</a></li>
                <li class="navigation"><a href="/contact" style="text-decoration: none;">Contact Me</a></li>
                <li class="navigation"><a href="/about" style="text-decoration: none;">About</a></li>
            </ul>
        </div>
    </header>