<%- include("partials/header.ejs") %>

    <form class="partial">
        <h1>About Me</h1>
        <p>Hi there! My name is Amanullah and I’m a junior full-stack developer passionate about building user-friendly and functional web applications. 
            I enjoy solving problems with code and bringing ideas to life through technology.
            <br>
            <br>
            This Blog Web App is a project I created as part of my developer portfolio. It showcases my skills in creating dynamic, 
            multi-page applications that allow users to interact with features like writing and deleting blog posts. 
            It’s a simple yet functional demonstration of my ability to design and implement full-stack solutions.
            </p>
    </form>

    <div class="features">
        <h2>Features</h2>
        <div class="feature">
            <div class="write">
                <h3>Write Posts</h3>
                <p>
                    Unleash your creativity and share your thoughts with the world. Our app makes it easy for you to create and publish your blog posts.
                </p>
            </div>
            <div class="delete">
                <h3>Delete Post</h3>
                <p>
                    Changed your mind or need to clean up your content? No problem! You can delete any post you’ve created with just a click.
                </p>
            </div>
            <div class="pages">
                <h3>Multi-Page Navigation</h3>
                <p>
                    Effortlessly navigate through multiple pages, including a homepage, post creation page, and a list of all published posts.
                </p>
            </div>
        </div>
    </div>

<%- include("partials/footer.ejs") %>