<%- include("partials/header.ejs") %>

    <form class="partial">
        <h1>Get in Touch</h1>
        <p>
            Have questions, feedback, or just want to say hi? I’d love to hear from you! Feel free to reach out using any of the methods below.
        </p>
    </form>

    <div class="features">
        <h2>Contact</h2>
        <div class="feature">
            <div class="write">
                <h3>Email</h3>
                <p>For inquiries or support, send me an email at:
                    <br>
                    biz.amanullah@gmail.com
                </p>
            </div>

            <div class="delete">
                <h3>Phone</h3>
                <p>
                    Reach out directly via phone at:
                    <br>
                    +62 822 1099 8798
                </p>
            </div>
            
            <div class="pages">
                <h3>Location</h3>
                <p>
                Based in:
                <br>
                Langsa, Aceh, Indonesia
                </p>
            </div>
        </div>
    </div>
    

<%- include("partials/footer.ejs") %>