<%- include("partials/header.ejs") %>

    <div class="heroes" method="get">
        <h1 class="title">Start Your Blogging Journey</h1>
        <p>Writing a blog post can feel intimidating, especially when you’re doubting your abilities. 
           But remember, no one else sees the world exactly the way you do, and your voice matters. 
           Start small, write from the heart, and focus on sharing your thoughts authentically. 
           It doesn’t have to be perfect—it just has to be you. With every word you write, you’re improving and finding your rhythm. 
           Confidence comes with practice, so take that first step and trust in your growth.
        </p>
        <a class="start" href="/posts" style="text-decoration: none;">Create Post Now!</a>
    </div>

<%- include("partials/footer.ejs") %>